.home-ctr {
  width: 85%;
  margin: 20px auto;
  position: relative;
}
/**
selection header
*/
.home-body-tt-selection-ctr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
}
.home-body-tt-selection-ctr > div {
  flex: 1;
  margin-right: 20px;
}
.home-body-tt-selection-ctr > div:last-child {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
selection header
*/

/**
timetable container
*/

.home-body-tt-ctr {
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  /* padding: 10px; */
  min-height: 200px;
}

/**
timetable container
*/
